<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/all.css" />
<%- include('../partials/nav') %>

<main>
  <% if (meals.length > 0) { %>
    <h1><%= title %></h1>
    <div class="card">
    <%  meals.forEach(meal => { %>
          <table id="list">
            <div class="head">
              <thead>
                <tr>
                  <th>Title:</th>
                </tr>
                <tr>
                  <th>Vegan:</th>
                </tr>
                <tr>
                  <th>Vegetarian:</th>
                </tr>
              </thead>
            </div>

            <tbody>
              <tr>
                <td><%= meal.title %></td>
              </tr>
              <tr>
                <td><%= meal.vegan ?  "Yes" : "No"%></td>
              </tr>
              <tr>
                <td><%= meal.vegetarian ?  "Yes" : "No" %></td>
              </tr>
            </tbody>

              <tbody class="extras">
              <tr>
                <td><a href="/meals/<%= meal._id %>" class="details-btn">DETAILS</a></td>
              </tr>
              <tr>
                <td class="del-location">
                  <form action="/meals/<%= meal._id %>?_method=DELETE" method="POST">
                    <button class="del-btn">X</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        <%})%>
      </div>

  <% } else { %>
    <div class="div-h2">
      <h2>Uh oh. The Meal Bandit stole all of the recipes! Add more to the vault <a href="/meals/new">here</a>!</h2>
    </div>
  <% } %>
</main>

<%- include('../partials/footer') %>