<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/all.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="list">
    <thead>
      <tr>
        <th>Title:</th>
        <th>Vegan:</th>
        <th>Vegetarian:</th>
      </tr>
    </thead>
    <tbody>
      <%  meals.forEach(meal => { %>
        <tr>
          <td><%= meal.title %></td>
          <td><%= meal.vegan ?  "Yes" : "No"%></td>
          <td><%= meal.vegetarian ?  "Yes" : "No" %></td>
          <td><a href="/meals/<%= meal._id %>">DETAILS</a></td>
          <td>
            <form action="/meals/<%= meal._id %>?_method=DELETE" method="POST">
              <button>X</button>
            </form>
          </td>
        </tr>
      <%})%>
    </tbody>
  </table>
  <a href="/">index</a>
</main>

<%- include('../partials/footer') %>