<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Meal Preptopia</title>
</head>
<body>
  <h1>Meals List</h1>
  <table>
    <thead>
      <tr>
        <th>Title:</th>
        <th>Cook Time:</th>
        <th>Ingredient:</th>
        <th>Guide:</th>
        <th>Vegan:</th>
        <th>Vegetarian:</th>
      </tr>
    </thead>
    <tbody>
      <%  meals.forEach(meal => { %>
        <tr>
          <td><%= meal.title %></td>
          <td><%= meal.cookTime %></td>
          <td><%= meal.ingredient.join(', ') %></td>
          <td><%= meal.guide %></td>
          <td><%= meal.vegan ?  "Yes" : "No"%></td>
          <td><%= meal.vegetarian ?  "Yes" : "no" %></td>
        </tr>
      <%})%>
    </tbody>
  </table>
</body>
</html>