<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<%- include('../partials/nav') %>

<main>
  
  <section>
    <container class="top-show">
      <div class="meal-div">
        <h1 class="meal-name">Meal Name:</h1>
        <h2 class="meal-name2"><%= meal.title %></h2></br>
        <a class="meal-name3" href="/meals/<%= meal._id %>/edit">
          <div class="edit-btn">Edit Meal</div>
        </a>
      </div>
    </container>

      <div class="headline">
        <ul>
            <li><h2>Cook Time: <%= meal.cookTime %> min.</h2></li>
            <li><h2>Vegan: <%= meal.vegan ? 'Yes' : 'No' %></h2></li>
            <li><h2>Vegetarian: <%= meal.vegetarian ? 'Yes' : 'No' %></h2></li>
      </ul>
      </div>
  <h1 class="padded-h1">Ingredients: </h1>
  
  <container class="ingredients">
    <% for (let i = 0; i < meal.ingredient.length; i++) { %>

      <div class="card">
        <input type="checkbox" class="checkbox">
        <%= meal.ingredient[i] %></br>
      </div>
      
      <% } %>
    </container>

    <h1 class="padded-h1">Guide: </h1>

    <container class="guide">
      <% for (let i = 0; i < meal.guide.length; i++) { %>
        
        <div class="card">
          <input type="checkbox" class="checkbox">
          <div class="guide-content">
            <%= meal.guide[i] %></br>
          </div>
        </div>

      <% } %>
    </container>
  </section>
</main>
  
<%- include('../partials/footer') %>