<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <container class="top-show">
      <div>Title:
        <%= meal.title %>
        <a href="/meals/<%= meal._id %>/edit">
          <button>Edit Meal</button>
        </a>
      </div>

      <div class="headline">
        <ul>
          <li>Cook Time: <%= meal.cookTime %></li>
          <li>min. Vegan: <%= meal.vegan ? 'Yes' : 'No' %></li>
          <li>Vegetarian: <%= meal.vegetarian ? 'Yes' : 'No' %></li>
      </ul>
      </div>
  </container>
  <h1>Ingredients: </h1>
  
  <container class="ingredients">
    <% for (let i = 0; i < meal.ingredient.length; i++) { %>
      <div class="card">
        <%= meal.ingredient[i] %></br>
      </div>
    <% } %>
  </container>
    <div>Guide: </div>
    <% for (let i = 0; i < meal.guide.length; i++) { %>
      
      <%= meal.guide[i] %></br>

    <% } %>
  </section>
</main>
  
<%- include('../partials/footer') %>